//Clientes
.clientes{
    background-color:aquamarine;
    padding: 1em 2em;
    div{
        div{
            
            img{
                width: 200px;
            }        
        }   
        
    }

}