// Variables globales
$mainColor:rgba(238,188,247, .5);
$secondaryColor:rgba(238,188,247, .7);
$keyColor: deeppink;
$white: #F9F5F5;
$black: #1b1b1b;

//sizing - fonts
$w-100:100%;
$w-80:80%;
$w-50:50%;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
$fontMain: 'Montserrat', sans-serif;
$textLg: 3em;
$textMd: 2em;
$textSm: 1em;

$textBold:600;
$textRegular: 400;
$textRegular: 300;

//Botones
