//Imports
@import "_vars";
@import "_navBar";
@import "_delpico";
@import "_tours";
@import "_traslados";
@import "_footer";


.rotate:hover{
    transform:rotateZ(360deg);
    cursor: pointer;
    transition: 1s;
}
.scale:hover{
    transform: scale(1.2);
}

/* Animaciones */
@keyframes anime{
    0%{background-color: #343a40;}
    25%{background-color: aquamarine;}
    50%{background-color: blueviolet;}
    75%{background-color: yellowgreen;}
    100%{background-color: #343a40;}
}
.animateDiv{
    animation-name: anime;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: 0;
}

@keyframes textAlpha{
    from{
        opacity: 1;
    }
}


//mixins

/* Extends */

.btn-more{
    background: linear-gradient(to top, violet, deeppink);
    width: 100px;
    height: 30px;
    border:none;
    display: flex;
    
    align-items: center;
    &:hover{
        color:black;
        width: 110px;
        height: 40px;
        cursor: pointer;
    }
}

.btn-rounded{
    @extend .btn-more;
    border-radius: 6px;

}

/* maps */
$paletaColores:(
    'principal': #af40f6,
    'secundario': #9b9a9b,
    'colorUno': black,
    'colorDos': #eebcf7,
);

.botonera{
    background-color: map-get($map: $paletaColores, $key: 'colorDos');
}